__pycache__
itunes.json
mpp.ini
mpp.db
search.py
build
dist
*.egg-info
app.py
AppDir
qt_material
*.egg*
_temp_home
*.exe
*.AppImage
packages/archlinux/pkg/
packages/archlinux/src/
minimal-podcasts-player
.qt_for_python/
